<!DOCTYPE html>
<html>
<head>
	<title>Hello Node.js</title>
	<meta charset="utf-8"/>
</head>
<body>
	<form action="loginRegistration" method="post">
		<input name = "click" class="login" type="submit" value="Войти\Регистрация">
	</form>
	<!--<form action="/avgSalaryInstitution" method="post">
		<select name="institutionSelector" class="institutionSelect">
			{{{options}}}
		</select>
		<input type="submit" value="Посмотреть" class="avgSalaryInstitutionButton">
	</form>-->
</body>
</html>