<!DOCTYPE html>
<html>
<head>
	<title>Hello Node.js</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="indexRegistrationSuccess.css" type="text/css">
</head>
<body>
	<div class="loginRegistrationDiv">
		<form action="loginRegistration" method="post">
			<input name = "click" class="login" type="submit" value="Войти\Регистрация">
		</form>
	</div>
	<div class="basketDiv">
		<form action="basket" method="post">
			<input type="submit" class="basketButton" value="Посмотреть корзину">
			<input type="hidden" class="order">
		</form>
	</div>
	<p class="client"> Welcome, {{successClient}}!</p>
	<div class="categories">
		<ul class="categoriesUl">
			<li class="mountainBikesLi products"><span class="mountainBikesSpan"><a href="mountainBikes">Горные велосипеды</a></span></li>
			<li class="cityBikesLi products"><span class="cityBikesSpan"><a href="cityBikes">Городские велосипеды</a></span></li>
		</ul>
	</div>
</body>
</html>